body {
  border: 12px solid #33b3ba;
  min-height: 100vh;
  margin: 0;
}

* {
  font-family: Raleway, serif;
}

h4 {
  font-family: Raleway, serif !important;
}

.blog-post p {
  font-family: Raleway, serif;
  font-size: 20px;
  margin: 11px 0px 13px;
  line-height: 34px;
}

.blog-post li {
  font-family: Raleway, serif;
  margin-bottom: 7px;
  line-height: 28px;
  font-size: 18px;
}

.blog-post h1 {
  font-family: Raleway, serif;
  margin: 25px 0px 0px;;
  font-weight: 200 !important;
  font-size: 36px;
  line-height: 42px;
}

.blog-post h2 {
  font-family: Raleway, serif;
  margin: 25px 0px 15px;
  font-weight: 300;
  line-height: 30px;
}

.blog-post h3 {
  font-family: Raleway, serif;
  margin: 25px 0px 25px;
}

.blog-post h4 {
  font-family: Raleway, serif;
  margin: 25px 0px 0px;
}

.blog-post h5 {
  font-family: Raleway, serif;
}

.blog-post code {
  font-size: 16px;
}

.blog-post a {
  color: black;
}

.blog-post pre {
  background-color: #ededed;
  padding: 20px;
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: scroll;
}

.blog-post p code {
  background-color: #ededed;
  font-family: 'Courier New', Courier, monospace;
  padding: 2px 5px;
}

.blog-post pre code {
  font-size: 16px;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background: transparent !important;
}

/* Thanks to Jakob from CodePen for the awesome animation! */
/* Check him out at https://codepen.io/JacobDvlpr */

.box {
  margin: 80px auto 0px;
  width: 85px;
  height: 85px;
  position: relative;
  animation: rotate 4s infinite linear;
}

.loading {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50px;
}

.loading:nth-child(1) {
  animation: animate1 12s infinite;
}

.loading:nth-child(2) {
  animation: animate2 12s infinite;
  animation-delay: 1s;
  bottom: 0;
  left: 0;
}

.loading:nth-child(3) {
  animation: animate3 12s infinite;
  animation-delay: 2s;
  bottom: 0;
  right: 0;
}

@keyframes animate1 {
  0% {
      top: 0;
      left: 0;
      background: none;
  }
  4% {
      left: 0;
      width: 100%;
      background: white;
  }
  8% {
      width: 30%;
      height: 30%;
      left: 70%;
      background: none;
  }
  25% {
      width: 30%;
      height: 30%;
      left: 70%;
      background: none;
  }
  29% {
      top: 0;
      height: 100%;
      background: white;
  }
  33% {
      top: 70%;
      left: 70%;
      height: 30%;
      width: 30%;
      background: none;
  }
  50% {
      top: 70%;
      left: 70%;
      height: 30%;
      width: 30%;
      background: none;
  }
  54% {
      width: 100%;
      left: 0;
      background: white;
  }
  58% {
      width: 30%;
      height: 30%;
      left: 0;
      top: 70%;
      background: none;
  }
  75% {
      width: 30%;
      height: 30%;
      left: 0;
      top: 70%;
      background: none;
  }
  79% {
      height: 100%;
      top: 0;
      background: white;
  }
  83% {
      left: 0;
      top: 0;
      height: 30%;
      background: none;
  }
  87% {
      left: 0;
      top: 0;
  }
}

@keyframes animate2 {
  0% {
      top: 70%;
      left: 0;
  }
  4% {
      top: 0;
      height: 100%;
      background: white;
  }
  8% {
      width: 30%;
      height: 30%;
      top: 0;
      background: none;
  }
  25% {
      width: 30%;
      height: 30%;
      top: 0;
      background: none;
  }
  29% {
      left: 0;
      width: 100%;
      background: white;
  }
  33% {
      left: 70%;
      height: 30%;
      width: 30%;
      background: none;
  }
  50% {
      left: 70%;
      height: 30%;
      width: 30%;
      background: none;
  }
  54% {
      height: 100%;
      top: 0;
      background: white;
  }
  58% {
      width: 30%;
      height: 30%;
      top: 70%;
      background: none;
  }
  75% {
      width: 30%;
      height: 30%;
      top: 70%;
      left: 70%;
      background: none;
  }
  79% {
      width: 100%;
      left: 0;
      background: white;
  }
  83% {
      width: 30%;
      height: 30%;
      top: 70%;
      background: none;
  }
  100% {
      top: 70%;
  }
}

@keyframes animate3 {
  0% {
      top: 70%;
      left: 70%;
  }
  4% {
      left: 0;
      width: 100%;
      background: white;
  }
  8% {
      width: 30%;
      height: 30%;
      background: none;
  }
  25% {
      width: 30%;
      height: 30%;
      top: 70%;
      background: none;
  }
  29% {
      height: 100%;
      top: 0;
      background: white;
  }
  33% {
      height: 30%;
      width: 30%;
      background: none;
  }
  50% {
      height: 30%;
      width: 30%;
      background: none;
  }
  54% {
      width: 100%;
      left: 0;
      background: white;
  }
  58% {
      width: 30%;
      height: 30%;
      left: 70%;
      background: none;
  }
  75% {
      width: 30%;
      height: 30%;
      left: 70%;
      background: none;
  }
  79% {
      height: 100%;
      top: 0;
      background: white;
  }
  83% {
      width: 30%;
      height: 30%;
      top: 70%;
      background: none;
  }
  100% {
      top: 70%;
      left: 70%;
  }
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}